@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu+Condensed&display=swap");

body {
    background-color: blanchedalmond;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: auto;
    padding: 0;
    margin: 0;
    height: 100dvh;
    height: 100vh;
}

.sidebar {
    background-color: #4391ce;
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    gap: 15px;
    padding-left: 2rem;
    min-width: 200px;
}

.main-page {
    grid-column: 2/3;
}

.user-pages {
    display: flex;
    align-items: start;
}

.icons {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(345deg)
        brightness(119%) contrast(106%);
    display: block;
    height: 1.2rem;
    margin-right: 0.5rem;
    text-align: center;
}

.logo {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(345deg)
        brightness(119%) contrast(106%);
    display: inline;
    height: 45px;
}

.logo-title {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    padding-top: 20px;
}

.sidebar li {
    list-style: none;
    color: white;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 0;
}
