@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu+Condensed&display=swap");

body {
    background-color: blanchedalmond;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.icons {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(345deg)
        brightness(119%) contrast(106%);
    display: block;
    height: 1.2rem;
    margin-right: 0.5rem;
    text-align: center;
}

.logo {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(345deg)
        brightness(119%) contrast(106%);
    display: inline;
    height: 2.5rem;
}

.logo-title {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

.sidebar li {
    list-style: none;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
}

.sidebar {
    background-color: #4391ce;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-left: 0;
}
